{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação Concluída - ArqCalc</title>
    <link rel="icon" href="{% static 'assets/img/page-icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/redefinir_password/redefine_password.css' %}" />
    <style>
      body {
        background: url("{% static 'assets/img/bg_test2.jpg' %}") no-repeat center center;
        background-size: cover;
      }
    </style>
</head>
<body>
  <div class="quadro" id="quadro-sucesso">
    <div class="success-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M20.285 6.709a1 1 0 0 0-1.414-1.418l-9.19 9.2-4.243-4.242a1 1 0 0 0-1.415 1.414l4.95 4.95a1 1 0 0 0 1.414 0l9.898-9.904z"/>
      </svg>
    </div>

    <h3>Concluído</h3>
    <p>Senha alterada com sucesso</p>

    <div class="concluir">
        <a href="{% url 'login' %}">
            <button id="botao-concluir" type="button" class="login-button">Fazer Login</button>
        </a>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const link = document.getElementById('show-help');
    const helpText = document.getElementById('help-text');

    link.addEventListener('click', function(e) {
      e.preventDefault();
      helpText.style.display = helpText.style.display === 'none' ? 'block' : 'none';
    });
  });
</script>

</body>
</html>