<!-- # EDITADO - ABRIL/2 -->

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação Concluída - ArqCalc</title>
    <link rel="icon" href="{% static 'assets/img/page-icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/redefinir_password/redefine_password.css' %}" />
    <style>
      body {
        background-image: url("{% static 'assets/img/login/image2.jpeg' %}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    </style>
</head>
<body>
  <div class="quadro" id="quadro-sucesso">
    <div class="success-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M20.285 6.709a1 1 0 0 0-1.414-1.418l-9.19 9.2-4.243-4.242a1 1 0 0 0-1.415 1.414l4.95 4.95a1 1 0 0 0 1.414 0l9.898-9.904z"/>
      </svg>
    </div>

    <h3>Solicitação Recebida</h3>
    <p>Se existir uma conta com este endereço, você receberá um e-mail com as instruções para redefinir sua senha.</p>
    
    <div class="buttons concluir">
        <a href="{% url 'login' %}">
            <button id="botao-concluir" type="button" class="login-button">Concluir</button>
        </a>
        <a href="#" class="forgot-password" id="show-help">Não recebeu o e-mail?</a>
        <p id="help-text" style="display:none; font-size: 0.95rem; color: #444; margin-top: 0.8rem;">
            Por favor, verifique a sua pasta de spam. Caso precise, 
            <a id='clique_link' href="{% url 'password_reset' %}">clique aqui</a> para reenviar o e-mail. Se o erro persitir, <a id='clique_link' 
            href="https://wa.me/553196895968?text=Ol%C3%A1!%0A%0AAo%20tentar%20acessar%20a%20plataforma%20do%20My%20House%20Manager,%20n%C3%A3o%20consegui%20alterar/recuperar%20a%20minha%20senha,%20mesmo%20j%C3%A1%20olhando%20na%20caixa%20de%20spam%20do%20e-mail.%0A%0APode%20me%20ajudar,%20por%20gentileza?">entre em contato</a> com a administradora.
        </p>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const link = document.getElementById('show-help');
    const helpText = document.getElementById('help-text');

    link.addEventListener('click', function(e) {
      e.preventDefault();
      helpText.style.display = helpText.style.display === 'none' ? 'block' : 'none';
    });
  });
</script>

</body>
</html>