<!-- # EDITADO - ABRIL/2 -->

{% load i18n static %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci Minha Senha - ArqCalc</title>
    <link rel="icon" href="{% static 'assets/img/page-icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/redefinir_password/redefine_password.css' %}" />
</head>
<body>
    <style>
    body {
    background-image: url("{% static 'assets/img/login/image2.jpeg' %}") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
  }
    </style>

    <div class="quadro">
      <h3>Redefinir a Senha</h3>
      <p>Insira abaixo o seu endereço de e-mail</p>
      <form method="post">{% csrf_token %}
        <div class="form-row field-email">{{ form.email.errors }}</div>

        <div class="flex-container">
          <div class="field-label">
            <label for="id_email">Endereço de e-mail</label>
          </div>

          <div class="field-input">
            <input
                type="email"
                name="{{ form.email.name }}"
                id="id_email"
                value="{{ request.session.email_para_recuperacao|default:'' }}"
                placeholder="Digite seu e-mail"
                class="form-control"
                required
            >
          </div>
        </div>
        <div class="concluir">
          <button type="submit" class="login-button">Continuar</button>
          <a href="{% url 'login' %}" id="back-button">Voltar</a>
        </div>
      </form>
    </div>
</body>
</html>