<!-- EDITADO MAR-13 -->

{% load static %}

<div
	class="modal_confirmation"
	id="modal_confirmation">
    <div class="modal_confirmation_header">
        <p id="modal_confirmation_title"></p>
    </div>
        
	<div class="modal_confirmation_body" id="modal_confirmation_body">
    </div>

	<div id="content_delete_modal" class="modal_confirmation_footer">
        <button type="button" id="btn_cancel_modal"  class="btn " data-bs-dismiss="modal"></button>
		<button type="button" id="btn_confirm_modal" class="btn btn_primary_dark" data-bs-dismiss="modal"></button>
	</div>

</div>