/* EDITADO ABRIL/11 */

/* Estilo para o campo de entrada quando estiver inválido */
.is-invalid {
    border-color: var(--danger-alert) !important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.is-invalid:focus {
    border-color: var(--danger-alert);
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

/* Estilo para a mensagem de erro abaixo do campo */
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: var(--danger-alert);
    font-weight: 500;
}

/* Estilo para a div que funciona como botão da aba */


/* O elemento 'after' que surge quando a classe 'tab-error' é aplicada */
.tab-error::after {
    content: "";
    position: absolute;
    right: 8px;          /* Ajuste a distância da direita conforme necessário */
    top: 50%;
    transform: translateY(-50%);
    width: 10px;         /* Largura da bolinha */
    height: 10px;        /* Altura da bolinha */
    background-color: var(--icon-alert); /* Roxo (pode ajustar o hexadecimal) */
    border-radius: 50%;  /* Torna o elemento circular */
    display: inline-block;
    animation: pulse-error 1.5s infinite; /* Opcional: efeito de pulsação */
}

/* Opcional: Uma pequena animação para chamar atenção para o erro */
@keyframes pulse-error {
    0% {
        box-shadow: 0 0 0 0 var(--icon-alert);
    }
    70% {
        box-shadow: 0 0 0 6px rgba(106, 27, 154, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(106, 27, 154, 0);
    }
}