/**
 * <!-- EDITADO - ABRIL/5 -->
 *
 * @format
 */

@import "body_pricing.css";

.table_body {
	flex: 1;
}

.row_body_table {
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
	padding: 0.5rem 1rem;
}
.row_body_table:nth-of-type(even) {
	background-color: var(--primary-light); /* Um cinza bem claro */
}

.row_body_table th {
	border-collapse: collapse;
	letter-spacing: 0;
	font-size: 1rem;
	font-weight: 400;
	color: var(--text-light);
}

.content_collumn_body {
	flex: 1;
	text-wrap: wrap;
	text-align: start;
	min-width: 10rem;
	max-width: 10rem;
}

.end_date_body_collumn {
	text-align: center;
	min-width: 10rem;
	max-width: 10rem;
}
.start_date_body_collumn {
	text-align: center;
	min-width: 10rem;
	max-width: 10rem;
}

.checkbox_collumn_body {
	width: 20px;
	height: 20px;
}

.action_collumn_body {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 10px;
	max-width: 10rem;
	min-width: 10rem;
}

.input_table {
	min-width: 150px;
	height: 2.25rem;
	padding: 0.25rem;
	font-size: 0.75rem;
	color: var(--text-light);
	border: 1px solid var(--border-color);
	background-color: var(--background-color);
	border-radius: 4px;
	box-sizing: border-box;
	overflow: hidden;
	padding: 4px 8px;
}

.input_table_disabled {
	width: 171px;
	height: 32px;
	padding: 0.25rem;
	font-size: 1rem;
	color: var(--text-light);
	border: none;
	background-color: transparent;
	outline: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
	overflow: hidden;
	padding: 4px 8px;
}
.input_table_disabled:hover,
.input_table_disabled:focus,
.input_table_disabled:active {
	border: none;
	outline: none;
	box-shadow: none;
}

.cell_none {
	display: none;
}

.backgroud_resumo:nth-child(4) {
	background-color: var(--status-aprovado-bg) ;
}
