/* # EDITADO - ABRIL/2 */


body {
    display: flex; justify-content: center; align-items: center;
    height: 100vh; /* altura total da tela */
    margin: 0; padding: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
}

.quadro {
    display: flex; flex-direction: column; align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* branco com opacidade */
    padding: 2rem; border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 350px;
}

.success-icon {
    display: flex; align-items: center; justify-content: center;
    height: 70px; width: 70px;
    margin: 0 auto 20px;
    background-color: #38a169; /* verde */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(56, 161, 105, 0.5);
}

.success-icon svg { height: 35px; width: 35px; fill: white; }

h3 { margin-bottom: 0.5rem;}
p  { margin-bottom: 1.3rem; color: #333; font-size: 1.1rem; font-weight: 600; text-align: justify;}

.flex-container { display: flex; flex-direction: column; }

.field-label label {font-weight: 600; color: #333;}

.field-input input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc; border-radius: 4px;
  font-size: 0.95rem; 
  box-sizing: border-box; /* garante que padding e border não aumentem a largura */
}

.field-input input:focus {
  border: 1px solid #46a6c2;
  outline: none;
  box-shadow: 0 0 4px rgba(70,166,194,0.4);
}

form       {display: grid; grid-template-rows: repeat(2, auto); width: 100%;}
form label {font-weight: 600; font-size: 0.9rem; line-height: 2rem; letter-spacing: 0.4px; color: #000;}

.form-control {
    padding: 0.6rem;
    justify-self: center;
    border: 1px solid #ccc; border-radius: 7px;
    font-size: 1rem; line-height: 150%;
}
.form-control:focus {border: 1px solid #46a6c2; outline: none;}

.concluir {display: grid; margin-top: 0rem; width: 100%;}

.concluir a {
    color: #46a6c2; font-weight: 600; text-decoration: none;
    border-radius: 6px;
    transition: 0.2s ease;
}

.concluir button {
    width: 100%;            /* mesma largura */
    margin-top: 0.6rem;
    padding: 0.8rem;
    
    background: linear-gradient(-90deg, #310273, #38ABF2) ;
    box-sizing: border-box; /* garante que padding e border não aumentem a largura */
    color: #fff; font-size: 1rem; font-weight: 600;

    border: 0; border-radius: 4px;
    box-shadow: rgba(0,0,0, 0.5) -1px 1px 4px;

    cursor: pointer;
    transition: all 0.2s ease;
}

.concluir button:hover {box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 8px; transform: translateY(-2px);} /* efeito sutil de "levantar" o botão */

.forgot-password       { text-align: center; }
.forgot-password:hover { text-align: center; font-weight: bold; text-decoration: underline; }

.concluir a            { width: 100%;  margin: 0; padding-bottom: 5px; justify-self:center; text-align: center;}
.concluir button       { margin: 20px auto;}

#show-help             { line-height: 2rem; font-weight: bold;}
#help-text             { text-align: justify;}
.concluir p            { text-align: left;}

#clique_link           { box-sizing: border-box; padding: 0px; }
#clique_link:hover     { font-weight: bold; text-decoration: underline;}
#back-button           { width: auto;}
#back-button:hover     { font-weight: bold; text-decoration: underline;}

/* Botão ativo */
#submit-button:hover:enabled { box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 8px; transform: translateY(-2px); }

/* Botão disabled */
#submit-button:disabled {
    background: #cccccc;           /* cinza claro */
    color: #777777;                /* texto esmaecido */
    cursor: not-allowed;
    box-shadow: none; transform: none;
}

/* Remove bullets, deixa vermelho e negrito */
.errorlist    { padding: 0; margin: 0; list-style: none; }      /* remove os bullets */
.errorlist li { justify-self: center; color: red; font-weight: bold; }